body {
    padding: 1rem;
    font-family: "Quicksand", sans-serif;
    /* background-color: #75704E; */
    /* color: white; */
}


nav {
    background-color: #415A77;
    padding: 1em;
}

nav a:hover {
    background-color: #778DA9;
}

p {
    font-size: .75em;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    padding: 1em;
    color: white;
}

ul li {
    /* padding: 0.5rem; */
    display: none;
}

ul {
    display: flex;
    flex-direction: column;
}

section {
    padding: 1em;
}

button {
    padding: 0.5rem;
    margin-top: 1em;
}

img {
    max-width: 100%;
}

footer {
    padding: 1em;
}

.open {
    /* display: block; */
	width: 100%;
}
.open li {
    display: block;
}


/* id selectors */
#maintitle {
    text-align: center;
    padding: 2em;
    /* background-color: white; */
    /* color: #3B1616; */
}

#weather, #curevents, #companyspot {
    background-color: #415A77;
    color: white;
}

#menu {
font-size: 1.5rem;
padding: 1rem;
background-color: #3B1616;
color: white;
}

#menu::before {
content: "☰";
}

#menu.open::before {
content: "x";
}

#dark {
	position: absolute;
    right: 2em;
    top: .75em;
	font-size: 1rem;
	cursor: pointer;
}

a {
    color: grey;
}

fieldset {
    max-width: 88px;
    margin: 0 auto;
    padding: 10px;
}

label {
    display: block;
    justify-content: left;
    padding: 1em;
}

h1 {
    text-align: center;
}

#submitButton {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1em;
    justify-self: auto;
}

.submitButton {
    padding: 1em;
}

#membership h2 {
    text-align: center;
}

#directoryhome img {
    background-color: white;
}