@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@700&family=Roboto:wght@100&display=swap');

:root {
    --main-color: #AEC3B0;
    --accent-color: #283f48;
    --lightest-color: #EFF6E0;
    --darkest-color: #01161E;
}

body {
    background-color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    color: var(--darkest-color);
}

/* html selectors */
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--lightest-color);
    /* color: #124559; */
    
}

main {
    justify-content: center;
}

nav {
    background-color: var(--accent-color);
    margin: 0 auto;
}
nav ul {
    list-style-type: none;
    background-color: var(--accent-color);
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
nav a {
    padding: 15px;
    text-decoration: none;
    color:var(--lightest-color);
}
nav a:hover {
    background-color: var(--lightest-color);
    color:var(--darkest-color);
}
nav li {
    display: inline-block;
}

footer {
    background-color: #124559;
    color: var(--lightest-color);
    text-align: center;
    padding: 20px;
}

img {
    padding: 20px;
}

/* class selectors */
.active {
    color: #598392;
}

.maintitle {
    text-align: center;
    
}

/* id selectors */

#learn {
    /* grid-column-start: 1; */
    padding: 10px;
    /* border: 2px #598392; */
}

#info {
    /* grid-column-start: 2; */
    padding: 10px;
}

#weeklinks, #informationbox {
    background-color: var(--lightest-color);
    list-style: none;
    padding: 10px;
    line-height: 1.5em;
}

#weeklinks {
    text-align: left;
}

#learnh3, #infoh3 {
    background-color: var(--accent-color);
    color:var(--lightest-color);
    font-family: 'Montserrat', sans-serif;
}

#map {
    padding-bottom: 10px;
    width: 100%;
}

.hero img {
    width: 93%;
    height: auto;
}

#grid {
    text-align: center;
}

#informationbox {
    background-color: var(--lightest-color);
}

main {
    display:block;
}

.overlaytext {
    position: absolute;
    padding: .5em;
    background-color: var(--lightest-color);
    /* text-size-adjust: 1rem; */
    top: 55%;
    left: 10%;

}