fieldset {
    max-width: 88px;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    justify-content: left;
    padding: 1em;
}

h1 {
    text-align: center;
}

#submitButton {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1em;
    justify-self: auto;
}

.submitButton {
    padding: 1em;
}